@model Demo_Product.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UILayout.cshtml";
}

<h1>Profil Bilgilerini Düzenle</h1>
<form method="post">
    @Html.Label("Adınız")
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    @Html.Label("Soyadınız")
    <input type="text" asp-for="Surname" class="form-control" />
    <br />
    @Html.Label("Cinsiyetiniz")
    <input type="text" asp-for="Gender" class="form-control" />
    <br />
    @Html.Label("E-posta adresiniz")
    <input type="email" asp-for="Email" class="form-control" />
    <br />
    @Html.Label("Parolanız")
    <input type="text" asp-for="Password" class="form-control" />
    <br />
    @Html.Label("Parola tekrar")
    <input type="text" asp-for="ConfirmPassword" class="form-control" />
    <br />
    <button class="btn btn-warning">Değişiklikleri Kaydet</button>
</form>

